* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'B612', sans-serif;
    min-width: 375px;
}

.content {
    height: 90vh;
    margin-top: 56px;
}

@media (max-width: 480px) {
    .content {
        margin-top: 56px;
    }
}
